.bodyDiv {
  background: linear-gradient(
    180deg,
    rgba(231, 158, 79, 1) 0%,
    rgba(160, 83, 68, 1) 32%,
    rgba(115, 64, 70, 1) 65%,
    rgba(50, 31, 40, 1) 98%
  );
  animation: body 1s linear;
  /* setting the gradient to look like a sunset because it's about werewolves */

  scroll-behavior: smooth;
}

.titleDiv {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20dvw;
  color: #fffbeb;
}

.loreDiv {
  height: 150dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fffbeb;
}

p {
  width: 80%;
  margin-bottom: 60px;
  font-size: x-large;
}

.lastLine {
  margin-top: 20px;
}

.linkDiv {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffbeb;
}
