/* .sideBar {
  display: flex;
  position: fixed;
  right: 0;
  height: 80dvh;
  width: 2dvw;
}
.sideBar:hover {
  width: 10dvw;
  transition: 1.5s;
}
.sideBarText {
  display: flex;
  flex-direction: column;
} */
/* not needed anymore ^  */

/* HERO TEXT */

.welcomepageCSS {
  background-color: #220901;
}

.welcomeText {
  display: flex;
  color: #941b0c;
  font-family: var(--font-caps);
  font-size: 9dvw;
  text-shadow: 2px 2px #f6aa1c;
}
.welcomeText2 {
  display: flex;
  font-family: var(--font-caps);
  font-size: 15dvw;
  color: #941b0c;
  text-shadow: 2px 2px #f6aa1c;
  margin-top: -10dvh;
}
.welcomeDiv {
  background-color: transparent;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theLORE {
  height: 100%;
  color: #fffdf9;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 2rem;
  padding-bottom: 10px;
}

p {
  display: flex;
  margin-bottom: 10px;
}

.lastLine {
  margin-top: 10px;
}

/* HEADER */

.headerDiv {
  display: flex;
  background-color: #220901;
  color: #941b0c;
  justify-content: space-between;
}

.icondiv {
  background-color: #f6aa1c;
  border-radius: 100%;
  height: 100px;
  width: 100px;
}
/* emotionally lashing out at the fact I can't get images to work by doing css art at this point */

.headerFakeLink {
  padding: 5px;
}
.headerFakeLink:hover {
  cursor: pointer;
  color: #f6aa1c;
  transition: 1s;
}

/* FOOTER */
.footerDiv {
  display: flex;
  background-color: #220901;
  color: #941b0c;
  justify-content: space-between;
  padding: 20px;
  font-size: 2rem;
}

.homeLink:hover {
  color: #f6aa1c;
  transition: 1s;
  transform: scale(1.3);
}
.townMapLink:hover {
  color: #f6aa1c;
  transition: 1s;
  transform: scale(1.3);
}

.commentForm {
  background-color: #220901;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

label {
  color: #bc3908;
  font-family: var(--font-cabin);
  font-size: 1.9rem;
}

input {
  background-color: #fffdf9;
  color: #220901;
}

.commentBox {
  height: 10rem;
  inline-size: auto;
}

.submitButton {
  background-color: #f6aa1c;
  margin-top: 30px;
}

.submitButton:hover {
  cursor: pointer;
}

.fakeIcon {
  background-color: #bc3908;
  border-radius: 100%;
  height: 60px;
  width: 60px;
}

.groupUp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.usernameH1 {
  font-size: 2rem;
  margin-left: 10px;
}

.commentH2 {
  width: 80dvw;
  margin-left: 10px;
  margin-top: 10px;
}

/* i need another breakpoint for ipad based on the responsive dev tools in chrome, but for now .. don't open it on an ipad!! */
@media only screen and (max-width: 600px) {
  .welcomeText {
    color: #941b0c;
    font-family: var(--font-caps);
    font-size: 9dvw;
    text-shadow: 2px 2px #f6aa1c;
  }
  .welcomeText2 {
    font-family: var(--font-caps);
    font-size: 15dvw;
    color: #941b0c;
    text-shadow: 2px 2px #f6aa1c;
    margin-top: 0.1dvh;
  }

  .theLORE {
    height: 100%;
    color: #fffdf9;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1rem;
  }

  p {
    display: flex;
    margin-bottom: 10px;
  }

  .lastLine {
    margin-top: 10px;
  }
  .icondiv {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
  }
  .groupUp {
    margin-left: 10px;
  }
}
